{% extends 'base.html' %}
{% block content %}

<!-------------------- DETAILS ------------------>
<h1>Crop Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ crop.name }}</span>
                <p><strong>Scientific Name:</strong> {{ crop.scientific_name |linebreaks}}</p>
                <p><strong>Classification:</strong> {{ crop.classification |linebreaks}}</p>
                <p><strong>Regions:</strong> {{ crop.regions|linebreaks }}</p>
                <p><strong>Yield:</strong> {{ crop.yields |linebreaks}}</p>
                <p><strong>Acreage of Global Production:</strong> {{ crop.acreage_of_production |linebreaks}}</p>
                <p><strong>Description:</strong> {{ crop.description |linebreaks}}</p>
                <!-- <p>Description: {{ crop.description|linebreaks }}</p> -->
            </div>
                <div class="card-action">
                    <a href="{% url 'crops_update' crop.id %}">Edit</a>
                    <a href="{% url 'crops_delete' crop.id %}">Delete</a>
                </div>
        </div>
<!-------------------- PHOTO SECTION  ------------------>
            {% for photo in crop.photo_set.all %}
                <img class="responsive-img card-panel" src="{{photo.url}}">
            {% empty %}
                <div class="card-panel grey-text center-align">No Images Uploaded</div>
            {% endfor %}
        {% if user.is_authenticated %}
            <form action="{% url 'add_photo' crop.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <button type="submit" class="btn">Upload Image</button>
            </form>
        {% endif %}

    </div>
<!-------------------- EVENT IMPACTING CROP ------------------>

    <div class="col s3">
        <h5>{{ crop.name }} affected by:</h5>
        {% if crop.impacts.count %}
        {% for impact in crop.impacts.all %}
        <div class="card"id="rounded">
            <div class="card-content"id="rounded">
                <span class="card-title"id="rounded">{{ impact.event }}
                </span>
            </div>
            <div class="card-action"id="rounded">
                <form action="{% url 'unassoc_impact' crop.id impact.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn">Remove</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>No Impact</h5>
        {% endif %}
    </div>
<!----------------------- POTENTIAL IMPACTS ------------------>
    <div class="col s3">
        <h5>Potential Impact:</h5>
        {% if impacts.count %}
        {% for impact in impacts.all %}
    <div class="card" id="rounded">
        <div class="card-content" id="rounded">
            <span class="card-title" id="rounded">
                {{ impact.event }}
            </span>
        </div>
            <div class="card-action" id="rounded ">
                <form action="{% url 'assoc_impact' crop.id impact.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>All Known Issues Impacting {{crop.name}}</h5>
        {% endif %}
    </div>
</div>


<!-------------------- RESOURCES ------------------>
   
<div class="row">
    <div class="col s12">
        <h4>Resources:</h4>
        <table class="striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Region</th>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Source/URL</th>
                </tr>
            </thead>
            <tbody>
                {% for reading in crop.reading_set.all %}
                <tr>
                    <td>{{reading.date}}</td>
                    <td>{{reading.get_region_display}}</td>
                    <td>{{reading.author}}</td>
                    <td>{{reading.title}}</td>
                <td> <a href="{{ reading.source }}" target="_blank">{{ reading.source }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h5>Add a Resource</h5>
            <form action="{% url 'add_reading' crop.id %}" method="POST">
                {% csrf_token %}
                <!-- Render the inputs -->
                {{ reading_form.as_p }}
                <input type="submit" class="btn" value="Add">
            </form>
    </div>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    // M is Materialize's global variable
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

      // add additional JS to initialize select below
        const selectEl = document.getElementById('id_region');
        M.FormSelect.init(selectEl);
</script>
{% endblock %}