{% extends 'base.html' %}
{% block content %}

<h1>Crop Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ crop.name }}</span>
        <p>Scientific Name: {{ crop.scientific_name }}</p>
        <p>Classification: {{ crop.classification }}</p>
        <p>Regions: {{ crop.regions }}</p>
        <p>Yield: {{ crop.yields }}</p>
        <p>Acreage of Global Production: {{ crop.acreage_of_production }}</p>
        <p>Description: {{ crop.description }}</p>
        <!-- <p>Description: {{ crop.description|linebreaks }}</p> -->
    </div>
    <div class="card-action">
        <a href="{% url 'crops_update' crop.id %}">Edit</a>
        <a href="{% url 'crops_delete' crop.id %}">Delete</a>
    </div>
</div>

{% endblock %}