{% extends 'base.html' %}
{% block content %}

<h1>Crop List</h1>

{% for crop in crops %}
<a href="{% url 'detail' crop.id %}">
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ crop.name }}</span>
        <p><strong>Scientific Name:</strong> {{ crop.scientific_name }}</p>
        <p><strong>Classification:</strong> {{ crop.classification }}</p>
        <p><strong>Regions:</strong> {{ crop.regions }}</p>
        <p><strong>Yield:</strong> {{ crop.yields }}</p>
        <p><strong>Acreage of Global Production:</strong> {{ crop.acreage_of_production }}</p>
        <!-- {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
        {% else %}
        <p>Age: Kitten</p>
        {% endif %} -->
    </div>
</div>
</a>
{% endfor %}

{% endblock %}