{% extends 'base.html' %}
{% block content %}

    <h1>About the Crop Collector</h1>
    <hr>
    <h4>Crops Impacted by Climate Change</h4>
    <p>For any particular crop, the effect of increased temperature will depend on the crop's optimal temperature for growth
    and reproduction. In some areas, warming may benefit the types of crops that are typically planted there, or allow
    farmers to shift to crops that are currently grown in warmer areas. Conversely, if the higher temperature exceeds a
    crop's optimum temperature, yields will decline.</p>
    <p>Source: Climate Impacts on Agriculture and Food Supply by United States Environmental Protection Agency</p>
    <footer>All Rights Reserved, &copy; 2023 Crop Collector</footer>
{% endblock %}